page-registro {

    ion-avatar *{
        margin-top: 10vh;
        margin-bottom: 7vh;
    }

    .bg {
        background: linear-gradient(to bottom, hsl(186, 48%, 58%) 0%, white 170%);
    }

    ion-content {
        background-color: hsl(187, 71%, 77%) !important;
    }
}
