<!--
  Generated template for the ReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div>
  <ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title *ngFor="let pub of publicacion">Reseñas de {{pub.nombre_publicacion}}
      </ion-title>
    </ion-navbar>
  </ion-header>
</div>

<ion-content>

  <div *ngIf="review" style="padding-top: 55px;">
    <ion-card *ngFor="let rev of review">
      <ion-card-content>

        <!-- Usuario -->
        <b> {{rev.id_usuario}} </b>

        <!-- Reseña -->
        <p> {{rev.review}} </p>

        <!-- Calificación -->
        <hr>
        <p> Calificación: {{rev.calificacion_review}}</p>

      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!review">
    <p> Esta publicación no tiene reseñas. </p>
  </div>

  <!--
   <div ng-switch on="rev.review" *ngFor="let rev of review">
    <div ng-switch-when=>
      <p> Esta publicación no tiene reseñas. </p>

        Acá entra cuando la consulta SQL:
          SELECT * FROM review JOIN publicacion USING(id_publicacion)
        no arroja resultados.
   
    </div>
    <div ng-switch-default style="padding-top: 15px;">
      <ion-card>
        <ion-card-content>

          <p> (Nombre de usuario):</p>

          <p> {{rev.review}} </p>

        </ion-card-content>
      </ion-card>
    </div>
  </div>
  -->
</ion-content>

<div *ngFor="let pub of publicacion">
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="irCrearReview(pub.id_publicacion)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</div>