<!--
  Generated template for the ReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div>
  <ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title *ngFor="let pub of publicacion">Reseñas de {{pub.nombre_publicacion}}
      </ion-title>
    </ion-navbar>
  </ion-header>
</div>

<ion-content *ngFor="let pub of publicacion">
  <div>
    <ion-card *ngFor="let rev of review">
      <ion-card-content>

        <!-- Usuario -->
        <p> Abismal13:</p>

        <!-- Reseña -->
        <p> {{rev.review}} </p>

      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-footer>
      <ion-toolbar>
        <ion-title style="text-align: center;" (click)="irCrearReview(pub.id_publicacion)">Agregar Reseña</ion-title>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>