<!--
  Generated template for the PublicacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngFor="let pub of publicacion">{{pub.nombre_publicacion}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngFor="let pub of publicacion">

  <img src="../assets/imgs/paine.jpg">

  <ion-card>
    <ion-item>
      <ion-icon name="md-map" item-start large></ion-icon>
      <h2>{{pub.direccion}}</h2>
      <button ion-button icon-start clear item-end>
        <ion-icon name="navigate"></ion-icon>
        Ver mapa
      </button>
    </ion-item>
  </ion-card>

  <ion-grid margin-horizontal>
    <ion-row>
      <h3>Descripción</h3>
    </ion-row>
    <ion-row>
      <p>{{pub.descripcion_publicacion}}</p>
    </ion-row>
  </ion-grid>

  <hr>

  <ion-grid margin-horizontal>
    <ion-row>
      <h3>Opiniones y valoraciones</h3>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="md-star" item-start large></ion-icon> Calificación {{pub.calificacion_publicacion}}/10
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="irComentario(pub.id_publicacion)">Ver comentarios</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="irReview(pub.id_publicacion)">Ver reseñas</button>
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <hr>

  <ion-grid margin-horizontal>
    <ion-row>
      <h3>Datos de contacto</h3>
    </ion-row>
    <ion-row>
      <ion-list no-margin>
        <ion-item>
          <ion-icon name="md-contact" item-start></ion-icon>
          Representante: Cesar Alarcón
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row>
      <ion-list no-margin>
        <ion-item>
          <ion-icon name="md-call" item-start></ion-icon>
          Telefono contacto: +56 {{pub.telefono_contacto}}
        </ion-item>
      </ion-list>
    </ion-row>
    <!--    <ion-row >
      <ion-list>
        <ion-item>
          <ion-icon name="md-locate" item-start></ion-icon>
            Dirección Oficina: 
        </ion-item>
      </ion-list>
    </ion-row>        -->
    <div class="centrado">
      <ion-icon col-1 name="logo-facebook" style="zoom:3.0"></ion-icon>
      <ion-icon col-1 name="logo-instagram" style="zoom:3.0"></ion-icon>
      <ion-icon col-1 name="logo-twitter" style="zoom:3.0"></ion-icon>
    </div>
  </ion-grid>
  <br>

  <br><br>

</ion-content>